In [293]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [294]:
data = pd.read_csv('INV_PROJECTION.csv', sep = ';', dtype = str)
data_week6 = data[data['Reporting week'] == '2018 w06']
data_week6_part1 = data_week6.iloc[:,:7]
data_week6_part2 = data_week6.iloc[:,7:]
data_week6_part2_t = data_week6_part2.transpose()
data_week6_part2_t.index = pd.to_datetime(data_week6_part2_t.index, format='%Y-%w%U')

In [295]:
data_week6_part2_t

,0,1,2,3,4,5,6,7,8,9,...,1160,1161,1162,1163,1164,1165,1166,1167,1168,1169
2018-02-11,88 927,225 519,170 395,364,364,184 169,78 799,39 974,336,52,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-02-18,78 192,225 519,174 582,364,364,177 184,78 799,40 190,329,60,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-02-25,63 197,225 519,177 271,364,364,171 714,78 799,41 196,322,61,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-03-04,48 663,207 342,175 802,364,364,166 245,72 448,39 758,315,61,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-01-01,37 110,207 342,175 531,364,364,164 663,72 448,38 320,308,54,...,9 828,0,0,364,0,1 110,0,0,364,0
2018-01-08,25 257,207 342,174 351,364,364,155 306,72 448,36 882,301,62,...,9 828,0,0,364,0,1 110,0,0,364,0
2018-01-15,23 111,207 342,173 470,364,364,149 836,72 448,35 444,294,62,...,9 828,0,0,364,0,1 110,0,0,364,0
2018-01-22,18 685,207 342,166 949,364,364,145 767,72 448,33 820,287,60,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-01-29,14 340,195 886,160 892,364,364,141 699,68 445,33 070,280,65,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-02-05,13 728,195 886,153 750,364,364,141 518,68 445,31 151,273,56,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-02-12,6 488,195 886,150 203,364,364,133 562,68 445,29 150,266,55,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-02-19,7 298,195 886,145 041,364,364,129 493,68 445,31 297,259,59,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-02-26,8 107,168 628,135 029,364,364,125 425,58 921,30 698,252,59,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-03-05,12 805,168 628,125 075,364,364,125 244,58 921,30 177,245,51,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-01-02,9 727,168 628,116 013,364,364,117 288,58 921,29 656,238,60,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-01-09,10 413,168 628,107 443,364,364,113 815,58 921,29 135,231,58,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-01-16,11 491,165 151,107 662,364,364,110 758,57 706,29 245,224,57,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-01-23,11 781,165 151,109 179,364,364,110 758,57 706,29 770,217,51,...,16 380,0,0,364,0,1 110,0,0,364,0
2018-01-30,12 467,165 151,111 848,364,364,103 397,57 706,33 353,210,65,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-02-06,13 151,165 151,108 220,364,364,99 924,57 706,29 574,203,58,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-02-13,13 436,165 151,107 898,364,364,96 341,57 706,29 763,196,57,...,16 380,0,0,364,0,1 110,0,0,364,0
2018-02-20,13 720,162 653,108 710,364,364,92 759,56 833,30 042,189,57,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-02-27,17 892,162 653,110 019,364,364,91 120,56 833,30 320,182,54,...,16 380,0,0,364,0,1 110,0,0,364,0
2018-03-06,14 288,162 653,109 384,364,364,85 594,56 833,30 599,175,59,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-01-03,14 610,162 653,108 963,364,364,82 011,56 833,30 879,168,58,...,16 380,0,0,364,0,1 110,0,0,364,0
2018-01-10,14 931,157 709,105 626,364,364,78 429,55 105,31 079,161,58,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-01-17,15 253,157 709,101 900,364,364,76 790,55 105,31 079,154,54,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-01-24,15 575,157 709,98 168,364,364,71 264,55 105,31 079,147,60,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-01-31,16 238,157 709,94 742,364,364,67 402,55 105,31 079,140,59,...,16 380,0,0,364,0,1 110,0,0,364,0
2018-02-07,16 900,150 366,91 255,364,364,63 542,52 540,30 661,133,60,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-02-14,17 563,150 366,87 261,364,364,59 680,52 540,29 898,126,64,...,16 380,0,0,364,0,1 110,0,0,364,0
2018-02-21,18 226,150 366,83 264,364,364,57 762,52 540,29 132,119,58,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-02-28,18 889,150 366,78 413,364,364,51 956,52 540,28 367,112,60,...,16 380,0,0,364,0,1 110,0,0,364,0
2018-03-07,19 207,150 366,74 446,364,364,48 373,52 540,27 597,105,59,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-01-04,19 524,142 057,73 853,364,364,44 791,49 637,27 098,98,59,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-01-11,19 842,142 057,73 265,364,364,43 152,49 637,26 600,91,55,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-01-18,20 160,142 057,72 674,364,364,37 626,49 637,26 101,84,59,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-01-25,20 970,142 057,72 414,364,364,34 529,49 637,25 603,77,58,...,9 828,0,0,364,0,1 110,0,0,364,0
2018-02-01,21 779,124 564,75 654,364,364,31 433,43 524,25 677,70,58,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-02-08,22 589,124 564,79 688,364,364,30 280,43 524,25 940,63,54,...,9 828,0,0,364,0,1 110,0,0,364,0
2018-02-15,23 399,124 564,83 719,364,364,25 240,43 524,26 201,56,364,...,9 828,0,0,364,0,1 110,0,0,364,0
2018-02-22,24 084,124 564,88 196,364,364,22 156,43 524,26 464,49,364,...,6 552,0,0,364,0,1 110,0,0,364,0
2018-03-01,24 768,138 443,89 367,364,364,19 072,48 374,26 671,42,364,...,9 828,0,0,364,0,1 110,0,0,364,0
2018-03-08,25 453,138 443,89 546,364,364,15 988,48 374,26 719,35,364,...,9 828,0,0,364,0,1 110,0,0,364,0
2018-01-05,26 138,138 443,89 724,364,364,12 904,48 374,26 766,28,364,...,6 552,0,0,364,0,1 110,0,0,364,0
2018-01-12,26 823,138 443,89 490,364,364,9 820,48 374,26 814,21,364,...,6 552,0,0,364,0,1 110,0,0,364,0
2018-01-19,26 823,138 443,96 677,364,364,6 513,48 374,27 032,14,364,...,9 828,0,0,364,0,1 110,0,0,364,0

In [296]:
data_week6_part1['Project Inventory'] = 0
data_week6_part1['Inventory Target Units'] = 0
data_week6_part1['Max & Tactical Units'] = 0
data_week6_part1['DOC'] = 0
data_week6_part1['Max DOC'] = 0

C:\Users\Quentin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Quentin\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Quentin\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Quentin\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\Quentin\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [297]:
data_week6_part1 = data_week6_part1.drop('Key figure', axis = 1)
data_week6_part1

,Reporting week,Location,Brand,SNP Planner,Technology,Production Line,Project Inventory,Inventory Target Units,Max & Tactical Units,DOC,Max DOC
0,2018 w06,AE01,Clean & Clear,P14,NaN,NaN,0,0,0,0,0
1,2018 w06,AE01,Clean & Clear,P14,NaN,NaN,0,0,0,0,0
2,2018 w06,AE01,Clean & Clear,P14,NaN,NaN,0,0,0,0,0
3,2018 w06,AE01,Clean & Clear,P14,NaN,NaN,0,0,0,0,0
4,2018 w06,AE01,Clean & Clear,P14,NaN,NaN,0,0,0,0,0
5,2018 w06,AE01,Clean & Clear,P14,Mass Tubes T10 T18,NaN,0,0,0,0,0
6,2018 w06,AE01,Clean & Clear,P14,Mass Tubes T10 T18,NaN,0,0,0,0,0
7,2018 w06,AE01,Clean & Clear,P14,Mass Tubes T10 T18,NaN,0,0,0,0,0
8,2018 w06,AE01,Clean & Clear,P14,Mass Tubes T10 T18,NaN,0,0,0,0,0
9,2018 w06,AE01,Clean & Clear,P14,Mass Tubes T10 T18,NaN,0,0,0,0,0
10,2018 w06,AE01,Clean & Clear,P14,Mass Tubes T17 T19,NaN,0,0,0,0,0
11,2018 w06,AE01,Clean & Clear,P14,Mass Tubes T17 T19,NaN,0,0,0,0,0
12,2018 w06,AE01,Clean & Clear,P14,Mass Tubes T17 T19,NaN,0,0,0,0,0
13,2018 w06,AE01,Clean & Clear,P14,Mass Tubes T17 T19,NaN,0,0,0,0,0
14,2018 w06,AE01,Clean & Clear,P14,Mass Tubes T17 T19,NaN,0,0,0,0,0
15,2018 w06,AE01,Clean & Clear,P14,Mass Tubes T18 T19,T18,0,0,0,0,0
16,2018 w06,AE01,Clean & Clear,P14,Mass Tubes T18 T19,T18,0,0,0,0,0
17,2018 w06,AE01,Clean & Clear,P14,Mass Tubes T18 T19,T18,0,0,0,0,0
18,2018 w06,AE01,Clean & Clear,P14,Mass Tubes T18 T19,T18,0,0,0,0,0
19,2018 w06,AE01,Clean & Clear,P14,Mass Tubes T18 T19,T18,0,0,0,0,0
20,2018 w06,AE01,Clean & Clear,P14,Mass Tubes T18 T19,T19,0,0,0,0,0
21,2018 w06,AE01,Clean & Clear,P14,Mass Tubes T18 T19,T19,0,0,0,0,0
22,2018 w06,AE01,Clean & Clear,P14,Mass Tubes T18 T19,T19,0,0,0,0,0
23,2018 w06,AE01,Clean & Clear,P14,Mass Tubes T18 T19,T19,0,0,0,0,0
24,2018 w06,AE01,Clean & Clear,P14,Mass Tubes T18 T19,T19,0,0,0,0,0
25,2018 w06,AE01,Clean & Clear,P14,Premium Tubes,NaN,0,0,0,0,0
26,2018 w06,AE01,Clean & Clear,P14,Premium Tubes,NaN,0,0,0,0,0
27,2018 w06,AE01,Clean & Clear,P14,Premium Tubes,NaN,0,0,0,0,0
28,2018 w06,AE01,Clean & Clear,P14,Premium Tubes,NaN,0,0,0,0,0
29,2018 w06,AE01,Clean & Clear,P14,Premium Tubes,NaN,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1140,2018 w06,ZA03,Clean & Clear,P14,Mass Tubes T10 T18,NaN,0,0,0,0,0
1141,2018 w06,ZA03,Clean & Clear,P14,Mass Tubes T10 T18,NaN,0,0,0,0,0
1142,2018 w06,ZA03,Clean & Clear,P14,Mass Tubes T10 T18,NaN,0,0,0,0,0
1143,2018 w06,ZA03,Clean & Clear,P14,Mass Tubes T10 T18,NaN,0,0,0,0,0
1144,2018 w06,ZA03,Clean & Clear,P14,Mass Tubes T10 T18,NaN,0,0,0,0,0
1145,2018 w06,ZA03,Clean & Clear,P14,Mass Tubes T18 T19,T18,0,0,0,0,0
1146,2018 w06,ZA03,Clean & Clear,P14,Mass Tubes T18 T19,T18,0,0,0,0,0
1147,2018 w06,ZA03,Clean & Clear,P14,Mass Tubes T18 T19,T18,0,0,0,0,0
1148,2018 w06,ZA03,Clean & Clear,P14,Mass Tubes T18 T19,T18,0,0,0,0,0
1149,2018 w06,ZA03,Clean & Clear,P14,Mass Tubes T18 T19,T18,0,0,0,0,0
1150,2018 w06,ZA03,Clean & Clear,P14,Mass Tubes T18 T19,T19,0,0,0,0,0
1151,2018 w06,ZA03,Clean & Clear,P14,Mass Tubes T18 T19,T19,0,0,0,0,0
1152,2018 w06,ZA03,Clean & Clear,P14,Mass Tubes T18 T19,T19,0,0,0,0,0
1153,2018 w06,ZA03,Clean & Clear,P14,Mass Tubes T18 T19,T19,0,0,0,0,0
1154,2018 w06,ZA03,Clean & Clear,P14,Mass Tubes T18 T19,T19,0,0,0,0,0
1155,2018 w06,ZA03,Clean & Clear,P14,Mass Tubes T18 T19,T18,0,0,0,0,0
1156,2018 w06,ZA03,Clean & Clear,P14,Mass Tubes T18 T19,T18,0,0,0,0,0
1157,2018 w06,ZA03,Clean & Clear,P14,Mass Tubes T18 T19,T18,0,0,0,0,0
1158,2018 w06,ZA03,Clean & Clear,P14,Mass Tubes T18 T19,T18,0,0,0,0,0
1159,2018 w06,ZA03,Clean & Clear,P14,Mass Tubes T18 T19,T18,0,0,0,0,0
1160,2018 w06,ZA03,Clean & Clear,P14,Mass Tubes T18 T19,T19,0,0,0,0,0
1161,2018 w06,ZA03,Clean & Clear,P14,Mass Tubes T18 T19,T19,0,0,0,0,0
1162,2018 w06,ZA03,Clean & Clear,P14,Mass Tubes T18 T19,T19,0,0,0,0,0
1163,2018 w06,ZA03,Clean & Clear,P14,Mass Tubes T18 T19,T19,0,0,0,0,0
1164,2018 w06,ZA03,Clean & Clear,P14,Mass Tubes T18 T19,T19,0,0,0,0,0
1165,2018 w06,ZA06,Clean & Clear,P14,Mass Tubes T18 T19,T18,0,0,0,0,0
1166,2018 w06,ZA06,Clean & Clear,P14,Mass Tubes T18 T19,T18,0,0,0,0,0
1167,2018 w06,ZA06,Clean & Clear,P14,Mass Tubes T18 T19,T18,0,0,0,0,0
1168,2018 w06,ZA06,Clean & Clear,P14,Mass Tubes T18 T19,T18,0,0,0,0,0
1169,2018 w06,ZA06,Clean & Clear,P14,Mass Tubes T18 T19,T18,0,0,0,0,0

In [298]:
data_week6_part2.columns

Index(['2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11',
       '2018-12', '2018-13', '2018-14', '2018-15', '2018-16', '2018-17',
       '2018-18', '2018-19', '2018-20', '2018-21', '2018-22', '2018-23',
       '2018-24', '2018-25', '2018-26', '2018-27', '2018-28', '2018-29',
       '2018-30', '2018-31', '2018-32', '2018-33', '2018-34', '2018-35',
       '2018-36', '2018-37', '2018-38', '2018-39', '2018-40', '2018-41',
       '2018-42', '2018-43', '2018-44', '2018-45', '2018-46', '2018-47',
       '2018-48', '2018-49', '2018-50', '2018-51', '2018-52'],
      dtype='object')

In [299]:
234*235

54990

In [300]:
data_week6_part2_t_copy = data_week6_part2_t
data_week6_part2_t_copy = pd.melt(data_week6_part2_t_copy, id_vars = ['0'])

KeyError: '0'

In [301]:
data_week6_part2_t_copy.columns

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            1160, 1161, 1162, 1163, 1164, 1165, 1166, 1167, 1168, 1169],
           dtype='int64', length=1170)

In [302]:
data_week6_part1_melted = pd.melt(data_week6_part1, id_vars = ['Location'])
data_week6_part1_melted.head()

  Location        variable     value
0     AE01  Reporting week  2018 w06
1     AE01  Reporting week  2018 w06
2     AE01  Reporting week  2018 w06
3     AE01  Reporting week  2018 w06
4     AE01  Reporting week  2018 w06

In [303]:
data_week6_part1.head()

,Reporting week,Location,Brand,SNP Planner,Technology,Production Line,Project Inventory,Inventory Target Units,Max & Tactical Units,DOC,Max DOC
0,2018 w06,AE01,Clean & Clear,P14,NaN,NaN,0,0,0,0,0
1,2018 w06,AE01,Clean & Clear,P14,NaN,NaN,0,0,0,0,0
2,2018 w06,AE01,Clean & Clear,P14,NaN,NaN,0,0,0,0,0
3,2018 w06,AE01,Clean & Clear,P14,NaN,NaN,0,0,0,0,0
4,2018 w06,AE01,Clean & Clear,P14,NaN,NaN,0,0,0,0,0

In [304]:
data_week6_part2_t.head()

,0,1,2,3,4,5,6,7,8,9,...,1160,1161,1162,1163,1164,1165,1166,1167,1168,1169
2018-02-11,88 927,225 519,170 395,364,364,184 169,78 799,39 974,336,52,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-02-18,78 192,225 519,174 582,364,364,177 184,78 799,40 190,329,60,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-02-25,63 197,225 519,177 271,364,364,171 714,78 799,41 196,322,61,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-03-04,48 663,207 342,175 802,364,364,166 245,72 448,39 758,315,61,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-01-01,37 110,207 342,175 531,364,364,164 663,72 448,38 320,308,54,...,9 828,0,0,364,0,1 110,0,0,364,0

In [330]:
data_week6_part2_t.head()

,0,1,2,3,4,5,6,7,8,9,...,1160,1161,1162,1163,1164,1165,1166,1167,1168,1169
2018-02-11,88 927,225 519,170 395,364,364,184 169,78 799,39 974,336,52,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-02-18,78 192,225 519,174 582,364,364,177 184,78 799,40 190,329,60,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-02-25,63 197,225 519,177 271,364,364,171 714,78 799,41 196,322,61,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-03-04,48 663,207 342,175 802,364,364,166 245,72 448,39 758,315,61,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-01-01,37 110,207 342,175 531,364,364,164 663,72 448,38 320,308,54,...,9 828,0,0,364,0,1 110,0,0,364,0

In [ ]:
for i in range (1, 235) :
    while i < 235 :
        df = data_week6_part2_t.copy()
        concatened =  data_week6_part2_t.append([df])

In [337]:
concatened

,0,1,2,3,4,5,6,7,8,9,...,1160,1161,1162,1163,1164,1165,1166,1167,1168,1169
2018-02-11,88 927,225 519,170 395,364,364,184 169,78 799,39 974,336,52,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-02-18,78 192,225 519,174 582,364,364,177 184,78 799,40 190,329,60,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-02-25,63 197,225 519,177 271,364,364,171 714,78 799,41 196,322,61,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-03-04,48 663,207 342,175 802,364,364,166 245,72 448,39 758,315,61,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-01-01,37 110,207 342,175 531,364,364,164 663,72 448,38 320,308,54,...,9 828,0,0,364,0,1 110,0,0,364,0
2018-01-08,25 257,207 342,174 351,364,364,155 306,72 448,36 882,301,62,...,9 828,0,0,364,0,1 110,0,0,364,0
2018-01-15,23 111,207 342,173 470,364,364,149 836,72 448,35 444,294,62,...,9 828,0,0,364,0,1 110,0,0,364,0
2018-01-22,18 685,207 342,166 949,364,364,145 767,72 448,33 820,287,60,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-01-29,14 340,195 886,160 892,364,364,141 699,68 445,33 070,280,65,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-02-05,13 728,195 886,153 750,364,364,141 518,68 445,31 151,273,56,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-02-12,6 488,195 886,150 203,364,364,133 562,68 445,29 150,266,55,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-02-19,7 298,195 886,145 041,364,364,129 493,68 445,31 297,259,59,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-02-26,8 107,168 628,135 029,364,364,125 425,58 921,30 698,252,59,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-03-05,12 805,168 628,125 075,364,364,125 244,58 921,30 177,245,51,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-01-02,9 727,168 628,116 013,364,364,117 288,58 921,29 656,238,60,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-01-09,10 413,168 628,107 443,364,364,113 815,58 921,29 135,231,58,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-01-16,11 491,165 151,107 662,364,364,110 758,57 706,29 245,224,57,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-01-23,11 781,165 151,109 179,364,364,110 758,57 706,29 770,217,51,...,16 380,0,0,364,0,1 110,0,0,364,0
2018-01-30,12 467,165 151,111 848,364,364,103 397,57 706,33 353,210,65,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-02-06,13 151,165 151,108 220,364,364,99 924,57 706,29 574,203,58,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-02-13,13 436,165 151,107 898,364,364,96 341,57 706,29 763,196,57,...,16 380,0,0,364,0,1 110,0,0,364,0
2018-02-20,13 720,162 653,108 710,364,364,92 759,56 833,30 042,189,57,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-02-27,17 892,162 653,110 019,364,364,91 120,56 833,30 320,182,54,...,16 380,0,0,364,0,1 110,0,0,364,0
2018-03-06,14 288,162 653,109 384,364,364,85 594,56 833,30 599,175,59,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-01-03,14 610,162 653,108 963,364,364,82 011,56 833,30 879,168,58,...,16 380,0,0,364,0,1 110,0,0,364,0
2018-01-10,14 931,157 709,105 626,364,364,78 429,55 105,31 079,161,58,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-01-17,15 253,157 709,101 900,364,364,76 790,55 105,31 079,154,54,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-01-24,15 575,157 709,98 168,364,364,71 264,55 105,31 079,147,60,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-01-31,16 238,157 709,94 742,364,364,67 402,55 105,31 079,140,59,...,16 380,0,0,364,0,1 110,0,0,364,0
2018-02-07,16 900,150 366,91 255,364,364,63 542,52 540,30 661,133,60,...,13 104,0,0,364,0,1 110,0,0,364,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-01-23,11 781,165 151,109 179,364,364,110 758,57 706,29 770,217,51,...,16 380,0,0,364,0,1 110,0,0,364,0
2018-01-30,12 467,165 151,111 848,364,364,103 397,57 706,33 353,210,65,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-02-06,13 151,165 151,108 220,364,364,99 924,57 706,29 574,203,58,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-02-13,13 436,165 151,107 898,364,364,96 341,57 706,29 763,196,57,...,16 380,0,0,364,0,1 110,0,0,364,0
2018-02-20,13 720,162 653,108 710,364,364,92 759,56 833,30 042,189,57,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-02-27,17 892,162 653,110 019,364,364,91 120,56 833,30 320,182,54,...,16 380,0,0,364,0,1 110,0,0,364,0
2018-03-06,14 288,162 653,109 384,364,364,85 594,56 833,30 599,175,59,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-01-03,14 610,162 653,108 963,364,364,82 011,56 833,30 879,168,58,...,16 380,0,0,364,0,1 110,0,0,364,0
2018-01-10,14 931,157 709,105 626,364,364,78 429,55 105,31 079,161,58,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-01-17,15 253,157 709,101 900,364,364,76 790,55 105,31 079,154,54,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-01-24,15 575,157 709,98 168,364,364,71 264,55 105,31 079,147,60,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-01-31,16 238,157 709,94 742,364,364,67 402,55 105,31 079,140,59,...,16 380,0,0,364,0,1 110,0,0,364,0
2018-02-07,16 900,150 366,91 255,364,364,63 542,52 540,30 661,133,60,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-02-14,17 563,150 366,87 261,364,364,59 680,52 540,29 898,126,64,...,16 380,0,0,364,0,1 110,0,0,364,0
2018-02-21,18 226,150 366,83 264,364,364,57 762,52 540,29 132,119,58,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-02-28,18 889,150 366,78 413,364,364,51 956,52 540,28 367,112,60,...,16 380,0,0,364,0,1 110,0,0,364,0
2018-03-07,19 207,150 366,74 446,364,364,48 373,52 540,27 597,105,59,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-01-04,19 524,142 057,73 853,364,364,44 791,49 637,27 098,98,59,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-01-11,19 842,142 057,73 265,364,364,43 152,49 637,26 600,91,55,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-01-18,20 160,142 057,72 674,364,364,37 626,49 637,26 101,84,59,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-01-25,20 970,142 057,72 414,364,364,34 529,49 637,25 603,77,58,...,9 828,0,0,364,0,1 110,0,0,364,0
2018-02-01,21 779,124 564,75 654,364,364,31 433,43 524,25 677,70,58,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-02-08,22 589,124 564,79 688,364,364,30 280,43 524,25 940,63,54,...,9 828,0,0,364,0,1 110,0,0,364,0
2018-02-15,23 399,124 564,83 719,364,364,25 240,43 524,26 201,56,364,...,9 828,0,0,364,0,1 110,0,0,364,0
2018-02-22,24 084,124 564,88 196,364,364,22 156,43 524,26 464,49,364,...,6 552,0,0,364,0,1 110,0,0,364,0
2018-03-01,24 768,138 443,89 367,364,364,19 072,48 374,26 671,42,364,...,9 828,0,0,364,0,1 110,0,0,364,0
2018-03-08,25 453,138 443,89 546,364,364,15 988,48 374,26 719,35,364,...,9 828,0,0,364,0,1 110,0,0,364,0
2018-01-05,26 138,138 443,89 724,364,364,12 904,48 374,26 766,28,364,...,6 552,0,0,364,0,1 110,0,0,364,0
2018-01-12,26 823,138 443,89 490,364,364,9 820,48 374,26 814,21,364,...,6 552,0,0,364,0,1 110,0,0,364,0
2018-01-19,26 823,138 443,96 677,364,364,6 513,48 374,27 032,14,364,...,9 828,0,0,364,0,1 110,0,0,364,0

In [323]:
concatened.sort_index()

,0,1,2,3,4,5,6,7,8,9,...,1160,1161,1162,1163,1164,1165,1166,1167,1168,1169
2018-01-01,37 110,207 342,175 531,364,364,164 663,72 448,38 320,308,54,...,9 828,0,0,364,0,1 110,0,0,364,0
2018-01-01,37 110,207 342,175 531,364,364,164 663,72 448,38 320,308,54,...,9 828,0,0,364,0,1 110,0,0,364,0
2018-01-01,37 110,207 342,175 531,364,364,164 663,72 448,38 320,308,54,...,9 828,0,0,364,0,1 110,0,0,364,0
2018-01-01,37 110,207 342,175 531,364,364,164 663,72 448,38 320,308,54,...,9 828,0,0,364,0,1 110,0,0,364,0
2018-01-01,37 110,207 342,175 531,364,364,164 663,72 448,38 320,308,54,...,9 828,0,0,364,0,1 110,0,0,364,0
2018-01-02,9 727,168 628,116 013,364,364,117 288,58 921,29 656,238,60,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-01-02,9 727,168 628,116 013,364,364,117 288,58 921,29 656,238,60,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-01-02,9 727,168 628,116 013,364,364,117 288,58 921,29 656,238,60,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-01-02,9 727,168 628,116 013,364,364,117 288,58 921,29 656,238,60,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-01-02,9 727,168 628,116 013,364,364,117 288,58 921,29 656,238,60,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-01-03,14 610,162 653,108 963,364,364,82 011,56 833,30 879,168,58,...,16 380,0,0,364,0,1 110,0,0,364,0
2018-01-03,14 610,162 653,108 963,364,364,82 011,56 833,30 879,168,58,...,16 380,0,0,364,0,1 110,0,0,364,0
2018-01-03,14 610,162 653,108 963,364,364,82 011,56 833,30 879,168,58,...,16 380,0,0,364,0,1 110,0,0,364,0
2018-01-03,14 610,162 653,108 963,364,364,82 011,56 833,30 879,168,58,...,16 380,0,0,364,0,1 110,0,0,364,0
2018-01-03,14 610,162 653,108 963,364,364,82 011,56 833,30 879,168,58,...,16 380,0,0,364,0,1 110,0,0,364,0
2018-01-04,19 524,142 057,73 853,364,364,44 791,49 637,27 098,98,59,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-01-04,19 524,142 057,73 853,364,364,44 791,49 637,27 098,98,59,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-01-04,19 524,142 057,73 853,364,364,44 791,49 637,27 098,98,59,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-01-04,19 524,142 057,73 853,364,364,44 791,49 637,27 098,98,59,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-01-04,19 524,142 057,73 853,364,364,44 791,49 637,27 098,98,59,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-01-05,26 138,138 443,89 724,364,364,12 904,48 374,26 766,28,364,...,6 552,0,0,364,0,1 110,0,0,364,0
2018-01-05,26 138,138 443,89 724,364,364,12 904,48 374,26 766,28,364,...,6 552,0,0,364,0,1 110,0,0,364,0
2018-01-05,26 138,138 443,89 724,364,364,12 904,48 374,26 766,28,364,...,6 552,0,0,364,0,1 110,0,0,364,0
2018-01-05,26 138,138 443,89 724,364,364,12 904,48 374,26 766,28,364,...,6 552,0,0,364,0,1 110,0,0,364,0
2018-01-05,26 138,138 443,89 724,364,364,12 904,48 374,26 766,28,364,...,6 552,0,0,364,0,1 110,0,0,364,0
2018-01-08,25 257,207 342,174 351,364,364,155 306,72 448,36 882,301,62,...,9 828,0,0,364,0,1 110,0,0,364,0
2018-01-08,25 257,207 342,174 351,364,364,155 306,72 448,36 882,301,62,...,9 828,0,0,364,0,1 110,0,0,364,0
2018-01-08,25 257,207 342,174 351,364,364,155 306,72 448,36 882,301,62,...,9 828,0,0,364,0,1 110,0,0,364,0
2018-01-08,25 257,207 342,174 351,364,364,155 306,72 448,36 882,301,62,...,9 828,0,0,364,0,1 110,0,0,364,0
2018-01-08,25 257,207 342,174 351,364,364,155 306,72 448,36 882,301,62,...,9 828,0,0,364,0,1 110,0,0,364,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-03-01,24 768,138 443,89 367,364,364,19 072,48 374,26 671,42,364,...,9 828,0,0,364,0,1 110,0,0,364,0
2018-03-01,24 768,138 443,89 367,364,364,19 072,48 374,26 671,42,364,...,9 828,0,0,364,0,1 110,0,0,364,0
2018-03-01,24 768,138 443,89 367,364,364,19 072,48 374,26 671,42,364,...,9 828,0,0,364,0,1 110,0,0,364,0
2018-03-01,24 768,138 443,89 367,364,364,19 072,48 374,26 671,42,364,...,9 828,0,0,364,0,1 110,0,0,364,0
2018-03-01,24 768,138 443,89 367,364,364,19 072,48 374,26 671,42,364,...,9 828,0,0,364,0,1 110,0,0,364,0
2018-03-04,48 663,207 342,175 802,364,364,166 245,72 448,39 758,315,61,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-03-04,48 663,207 342,175 802,364,364,166 245,72 448,39 758,315,61,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-03-04,48 663,207 342,175 802,364,364,166 245,72 448,39 758,315,61,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-03-04,48 663,207 342,175 802,364,364,166 245,72 448,39 758,315,61,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-03-04,48 663,207 342,175 802,364,364,166 245,72 448,39 758,315,61,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-03-05,12 805,168 628,125 075,364,364,125 244,58 921,30 177,245,51,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-03-05,12 805,168 628,125 075,364,364,125 244,58 921,30 177,245,51,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-03-05,12 805,168 628,125 075,364,364,125 244,58 921,30 177,245,51,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-03-05,12 805,168 628,125 075,364,364,125 244,58 921,30 177,245,51,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-03-05,12 805,168 628,125 075,364,364,125 244,58 921,30 177,245,51,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-03-06,14 288,162 653,109 384,364,364,85 594,56 833,30 599,175,59,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-03-06,14 288,162 653,109 384,364,364,85 594,56 833,30 599,175,59,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-03-06,14 288,162 653,109 384,364,364,85 594,56 833,30 599,175,59,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-03-06,14 288,162 653,109 384,364,364,85 594,56 833,30 599,175,59,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-03-06,14 288,162 653,109 384,364,364,85 594,56 833,30 599,175,59,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-03-07,19 207,150 366,74 446,364,364,48 373,52 540,27 597,105,59,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-03-07,19 207,150 366,74 446,364,364,48 373,52 540,27 597,105,59,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-03-07,19 207,150 366,74 446,364,364,48 373,52 540,27 597,105,59,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-03-07,19 207,150 366,74 446,364,364,48 373,52 540,27 597,105,59,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-03-07,19 207,150 366,74 446,364,364,48 373,52 540,27 597,105,59,...,13 104,0,0,364,0,1 110,0,0,364,0
2018-03-08,25 453,138 443,89 546,364,364,15 988,48 374,26 719,35,364,...,9 828,0,0,364,0,1 110,0,0,364,0
2018-03-08,25 453,138 443,89 546,364,364,15 988,48 374,26 719,35,364,...,9 828,0,0,364,0,1 110,0,0,364,0
2018-03-08,25 453,138 443,89 546,364,364,15 988,48 374,26 719,35,364,...,9 828,0,0,364,0,1 110,0,0,364,0
2018-03-08,25 453,138 443,89 546,364,364,15 988,48 374,26 719,35,364,...,9 828,0,0,364,0,1 110,0,0,364,0
2018-03-08,25 453,138 443,89 546,364,364,15 988,48 374,26 719,35,364,...,9 828,0,0,364,0,1 110,0,0,364,0